.btn {
    background-color: unset;
    border-style: none;
    padding: 0px;
}

#icon-arrow {
    background-color: #E9EBF8;
    padding: 4px;
    border-radius: 100px;
    color: #34495E;
}

#icon-arrow:hover{
    cursor: pointer;
}