.navBar {
    padding: 20px;
    background-color: #1A5E41;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width:auto;
    overflow: hidden;
}

.title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: #ffffff;
    margin: 0px;
}

#icon-bill {
    border-radius: 100px;
    color: #ffffff;
    align-items: center;
}
