html, body {
  background-color: #EBEDEF;
  color: #34495E;
  font-family: Poppins, Helvetica;
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
  width: 100%;
  
}

main {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-bottom: 2rem;
}